.logo {
    width: 140px;
    max-width: 100%;
}

.logo-long {
    width: 200px;
    height: auto;
    transform: scale(2.6);
    transform-origin: left-center;
    margin-bottom: -50px;
}

.hero {
    background-image: url('assets/images/hero2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 6rem 0;
    text-align: center;
    color: #6b705c;
}

.lead {
    margin: 0;
}

.nav-link {
    color: #6b705c;
}



.icon-custom {
    font-size: 50px !important;
}

.social-icon {
    font-size: 30px;
    color: #CB997E;
}

.services,
h5 {
    font-family: 'Lora', Serif !important;
    font-weight: bold !important;
    /*font-style: italic !important;*/
}

ul {
    list-style-type: none;
    /* Removes the bullets */
    /*padding: 0; Removes any default padding */
}

#testimonials blockquote {
    font-style: italic;
    font-size: 1.2rem;
    max-width: 700px;
    margin: 0 auto;
}

.btn-primary {
    background-color: #6b705c;
    color: white;
    padding: 0.75rem 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    transition: background-color 0.3s ease;
}

.btns:hover {
    transform: scale(1.03) !important;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1) !important;
    transition: all 0.3s ease !important;
    background-color: #654321;
}

.card-color {
    background-color: #e6d5ca;
    color: #6b705c;
}

.about-img {
    width: 200px;
    max-width: 100%;
}

h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color: #6b705c;
}

section {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.about-img {
    width: 170px;
    max-width: 100%;
    margin-left: 2rem;
    /* Increase as needed */
}

body {
    background: #ffff !important;
    min-height: 100vh;
    /* Ensures the gradient covers the full viewport height */
    margin: 0;
}

body,
p {
    font-family: 'Lora', serif;
    color: #6b705c;
}

.footer {
    background-color: #f1ede8 !important;
    font-size: 12px;
}

/* Mailchimp Form */
#subscription {
    background-color: #fdfaf6;
    /* match your site’s palette */
    border-top: 1px solid #ddd;
}

#subscription input.form-control {
    border-radius: 30px;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
}

#subscription .btns {
    border-radius: 30px;
    font-weight: 600;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-in, transform 1.5s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}